
#container :hover {
    cursor: pointer;
}


#comments-box {
    border: 1px solid black;

    margin: 10px;
    height: 45vh;
    /* width: 90%; */
    overflow: auto;
}

#comments-list {
    list-style: none;
}


#container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
